BasedOnStyle: LLVM

AlignConsecutiveMacros: AcrossEmptyLinesAndComments
AlignTrailingComments: Always

AllowShortFunctionsOnASingleLine: Inline
AllowShortLambdasOnASingleLine: Inline
AllowShortLoopsOnASingleLine: true

IntegerLiteralSeparator:
  Binary: 4
  Decimal: 3
  Hex: 2

InsertNewlineAtEOF: true
