BasedOnStyle: LLVM

AlignConsecutiveMacros: AcrossEmptyLinesAndComments
AlignTrailingComments: Always

AllowShortFunctionsOnASingleLine: Inline
AllowShortLambdasOnASingleLine: Inline

BreakTemplateDeclarations: Yes

InsertNewlineAtEOF: true
