BasedOnStyle: LLVM

AlignConsecutiveAssignments:
  Enabled: true
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true

AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Inline

InsertNewlineAtEOF: true
